<!DOCTYPE html>
<html>
<head>
    <title>Columbia Frontend Final Assessment</title>

    <!-- We've provided some styles for you, aren't we nice? -->
    <!--<link rel="stylesheet" type="text/css" href="css/reset.css" />-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<h1>Columbia Frontend Final Assessment</h1>
<p>Creater: <a href="/about">Anfal Boussayoud</a></p>

<body>The following are assignments in the course:</body>

<body ng-app="assignments">


</div>

<div ng-controller="MainController">

    <div
        ng-repeat="assignment in assignments" ng-click="show = !show">
    <h2>{{ assignment.assignment }}</h2>

        <div class="procedure-details" ng-show="show">
            <a href="{{assignment.url}}">Link</a>
            <p>Status: {{assignment.status}}</p>
        </div>




</div>
</div>

</body>

<script src="js/lib/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/MainController.js"></script>
<script src="js/controllers/StatsController.js"></script>
<script src="js/factories/HomeworkFactory.js"></script>
<script src="js/factories/ScoreFactory.js"></script>
<script src="js/filters/cheat-filter.js"></script>


</html>